<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        
        .content {
            margin-left: auto;
            margin-right: auto;
        }
        
        table {
            margin-top: 16px;
            width: 100%;
        }
    </style>
</head>

<body>
    <form action="/post" method="POST" enctype="multipart/form-data">
        <input type="text" name="ma_sp" placeholder="Ma San Pham"> <br><br>
        <input type="text" name="ten_sp" placeholder="Ten San Pham"> <br><br>
        <input type="number" name="so_luong" placeholder="So Luong"> <br><br>
        <input type="submit" value="Submit"> <br><br>
    </form>

    <!-- <form method="POST" action="/delete"> -->
    <div>
        <h5>Danh Sach San Pham</h5>
        <input type="submit" value="Xoa">
    </div>
    <div class="content">
        <table border="1">
            <tr>
                <th>Ma SP</th>
                <th>Ten SP</th>
                <th>So Luong</th>
                <th>Hinh Anh</th>
                <th>Chon</th>
            </tr>
            <% for (let i = 0; i < sanPhams.length; i++ ) { %>
                <tr>
                    <td>
                        <%=sanPhams[i].ma_sp%>
                    </td>
                    <td>
                        <%=sanPhams[i].ten_sp%>
                    </td>
                    <td>
                        <%=sanPhams[i].so_luong%>
                    </td>
                    <td></td>
                    <td>
                        <!-- <input type="checkbox" name="<%=sanPhams[i].ma_sp%>" > -->
                        <!-- <input type="checkbox" name="ma_sp" value="<%=sanPhams[i].ma_sp%>"> -->
                        <a href="/delete/<%= sanPhams[i].ma_sp %>" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                <% } %>
        </table>
    </div>
    <!-- </form> -->

</body>

</html>